body {
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  background: #1b244a;
}

.score {
  background: #0a0001;
  font-size: 90px;
  color: #f94f6d;
  width: 120px;
  margin: 20px;
  font: Cursed Timer ULiL;
}

button {
  background: none;
  margin-bottom: 40px;
}
